<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @carrera_solicitada.nombre %>
</p>

<%= link_to 'Edit', edit_carrera_solicitada_path(@carrera_solicitada) %> |
<%= link_to 'Back', carrera_solicitadas_path %>
