<h1>Editing Programa Internacional</h1>

<%= render 'form', programa_internacional: @programa_internacional %>

<%= link_to 'Show', @programa_internacional %> |
<%= link_to 'Back', programa_internacionals_path %>
