<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @programa_internacional.nombre %>
</p>

<%= link_to 'Edit', edit_programa_internacional_path(@programa_internacional) %> |
<%= link_to 'Back', programa_internacionals_path %>
