<p id="notice"><%= notice %></p>

<p>
  <strong>Promedio:</strong>
  <%= @examen_de_nivel.promedio %>
</p>

<%= link_to 'Edit', edit_examen_de_nivel_path(@examen_de_nivel) %> |
<%= link_to 'Back', examen_de_nivels_path %>
