<% if obj.errors.any? %>
  <div class="col-xs-5">
    <div class="card text-white bg-danger mb-3 row">
    <div class="card-header">
      <h2> The following errors prevented the article from getting created</h2>
    </div>
    <h5 class="card-title offset-1">
      Check the following: <%= pluralize(obj.errors.count, "Error") %> 
    </h5>
    <div class="card-body">    
        <ul >
          <% obj.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
    </div>
  </div>
  <div>
<% end %>