<% if obj.errors.any? %>
  <div class="container-fluid">
    <div class="py-3 pl-lg-5 pr-lg-5">
      <div class="card text-white bg-danger mb-3">
        <div class="card-header">
          <h2>Los siguientes errores evitan que se pueda guardar</h2>
        </div>
        <div class="card-body">
          <h5>
            Revise lo siguiente: <%= pluralize(obj.errors.count, "error/es") %>
          </h5>
          <ul>

            <% if obj.class != Estudiante %>
              <% obj.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            <% else %>
              <% obj.errors.messages.keys.each_with_index do |key, index| %>
                <% if key == :"persona.nombres" %>
                  <li>Los nombres del estudiante no pueden estar en blanco</li>
                <% elsif key == :"persona.apellidos" %>
                  <li>Los apellidos del estudiante no pueden estar en blanco</li>
                <% else %>
                  <li><%= obj.errors.full_messages[index] %></li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>