<p id="notice"><%= notice %></p>

<p>
  <strong>Promedio:</strong>
  <%= @evaluacion.promedio %>
</p>

<%= link_to 'Edit', edit_evaluacion_path(@evaluacion) %> |
<%= link_to 'Back', evaluacions_path %>
