<section class="content">
  <div class="container-fluid">
    <h3>Listado de clases de
      ID:<% @estudiante.persona.id_campus%>
      -
      <%=@estudiante.persona.nombres%>
      <%=@estudiante.persona.apellidos%>
    </h3>
    <div class="calendar">

    </div>

  </div>
</section>
