<section class="content">
  <div class="container-fluid">
    <h3>Listado de clases de <%= @estudiante.persona.id_campus%>
      -
      <%=@estudiante.persona.nombres%>
      <%=@estudiante.persona.apellidos%>
      <div id="idestudiante" style='display:none;'>
        <%=@estudiante.id%>
      </div>
    </h3>
    <div class="calendar">

    </div>

  </div>
</section>
