<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @institucion.nombre %>
</p>

<%= link_to 'Edit', edit_institucion_path(@institucion) %> |
<%= link_to 'Back', institucions_path %>
