<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @universidad.nombre %>
</p>

<%= link_to 'Edit', edit_universidad_path(@universidad) %> |
<%= link_to 'Back', universidads_path %>
