<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_evaluacion.nombre %>
</p>

<%= link_to 'Edit', edit_tipo_evaluacion_path(@tipo_evaluacion) %> |
<%= link_to 'Back', tipo_evaluacions_path %>
