/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require adminlte.components
 *= require adminlte.core
 *= require adminlte
 *= require adminlte.extra-components
 *= require adminlte.pages
 *= require adminlte.plugins
 *= require font_awesome5
 *= require select2
 *= require bootstrap-datepicker
 *= require datatables
 *= require OverlayScrollbars
 *= require fullcalendar
 *= require sweetalert2
 *= require_self
 *= require_tree .
 */

#notice_wrapper{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: green;
  font-size: 20px;
  color: black;
  padding: 10px 30px;
}
/* Add for yellow small box to adapter the text for ciclo  */
.adapt-text h3{  
  margin-bottom: 1.5rem !important;
  font-size: 1.5rem !important;
}