@import 'bootstrap/dist/css/bootstrap';
@import 'adminlte';
@import 'adminlte.components';
@import 'adminlte.pages';
@import 'adminlte.plugins';
@import 'adminlte.core';


    .navbar-brand {
    
    font-size: 3rem;
    

    }
    .card{
        border-radius: .25rem;
    }
    .display-4{
        color: red;
    }
  
  
    
    
