<h1>Editing Progreso Inscripcion</h1>

<%= render 'form', progreso_inscripcion: @progreso_inscripcion %>

<%= link_to 'Show', @progreso_inscripcion %> |
<%= link_to 'Back', progreso_inscripcions_path %>
