<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.pucmm.edu.do/"> Pontificia Universidad Católica Madre y Maestra</a> By<a href="https:www.google.com"> Facultad de Ingenieria en Sistemas y Telecomunicaciones</a>
    </small>
    <nav>
      
    </nav>
  </footer>

</div>