<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
        <%= wicked_pdf_stylesheet_link_tag 'adminlte.core' %>
        
        <meta charset="utf-8">
    </head>
    <body>
    <%= yield%>
    </body>
</html>